@import "../../style/Colors_And_Mixins";

#Personal_cabinet
{
  width: 1300px;
  height: 1469px;
  background-color: $BackgroundPersonalCabinet;
  @include FlexColumnStartCenter();
  > img
  {
    z-index: 1;
    position: relative;
    top: 12px;
    left: 18px;
    width: 1300px;
    height: 273px;
    border-radius: 15px;
  }
  > div
  {
    top: -136px;
    position: relative;
    z-index: 2;
    width: 1230px;
    > #DivLine1
    {
      margin-top: 33px;
      @include FlexRowStartCenter();
      height: 362px;
      width: 100%;
    }
  }
}