@import "Colors_And_Mixins";

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.Online
{
  background-color: $ButtonOrange;
}

.Offline, .Loading
{
  background-color: $Gray;
}

button, button:active, button:focus {
  border: none;
}

*
{
  color: $TextWhite;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body
{
  min-width: 1336px+36px+36px;
}

.App
{
  background-color: $Background;
  @include FlexColumnStartCenter();
}