@import "../../../style/Colors_And_Mixins";


#BookingSlider
{
  width: 623px;
  height: 362px;
  background-color: $BlockPersonalCabinet;
  border-radius: 20px;
  @include FlexColumnStartStart();
  > p
  {
    height: 31px;
    font-family: Ubuntu;
    font-size: 24px;
    line-height: 27.58px;
    text-transform: uppercase;
    margin-top: 34px;
    margin-left: 47px;
  }
}

.Slider540
{
  width: 540px;
  margin-left: 42px;
  margin-top: 18px;
}

