@import "../../../../style/Colors_And_Mixins";

.FriendsBlock
{
  margin-bottom: 19px;
  height: 45px;
  width: 264.5px;
  @include FlexRowStartCenter();
  > img
  {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    border: 2px solid $ButtonOrange;
  }
  > div
  {
    margin-left: 26px;
    > p:nth-child(1)
    {
      text-transform: uppercase;
      color: $TextWhite;
      font-family: Syncopate;
    }
    > p:nth-child(2)
    {
      color: $ButtonOrange;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
    }
  }
}