@import "../../../style/Colors_And_Mixins";

.TournamentsSlider
{
  width: 584px;
  height: 362px;
  border-radius: 20px;
  background-color: $BlockPersonalCabinet;
  @include FlexColumnStartStart();
  > div:nth-child(1)
  {
    margin-top: 34px;
    margin-left: 57px;
    width: 376px;
    height: 31px;
    @include FlexRowBetweenCenter();
    > p
    {
      font-family: Ubuntu;
      font-size: 24px;
      line-height: 27.58px;
      text-transform: uppercase;
    }
    > button
    {
      width: 29px;
      height: 29px;
      background-color: rgba(0,0,0,0);
      background-image: url("../../../image/gear.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 211px;
    }
  }
}

.Slider486
{
  width: 471px;
  margin-left: 57-7.5px;
  margin-top: 18px;
}